{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href = "http://fonts.googleapis.com/css2?family=Poppins&display=swap" rel = "stylesheet">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    
    <div class = "jumbotron">
        <div class = "container-fluid center">
            <h1>Comments:</h1>
            <a href="{% url 'home' name %}">Return To The Homepage</a>       
        </div> 
    </div>

    <br>

    <img class = "centered_beach_image" src="{% static 'beach.jpg' %}" alt="Beach" style="width:35%">

    <br>

    <ul id = "comments" class = "center" >
        {% for comment in comments %}
            <h2>{{ comment.comment}}</h2>
        {% endfor %}
    </ul>

    <div id = "no_comments"></div>
    
    <script type="text/babel">
        function No_Comments() {
            return (
                <div class = "jumbotron">
                    <div class = "container-fluid center">
                        <h2>Sorry! No comments have been posted yet! </h2>
                    
                        <h3>Would you like to be the first?</h3>
                    </div>
                </div>
            );
        }

        if (document.getElementById("comments").innerHTML.trim() == ""){
            ReactDOM.render(<No_Comments/>, document.querySelector("#no_comments"));
        }    
    </script>

</html>